* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: white;
}

img {
  display: block;
  width: 480px;
  height: 480px;
  margin: 2rem auto;
}

.app {
  padding: 2rem;
}

h1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #f2f2f2;
  width: 100%;
  max-width: 320px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
